.homeCubeSkills {
    width: 200px;
    height: 200px;
    animation: cubeRotation 15s linear infinite alternate;
    transform-style: preserve-3d;
  }
  
  .homeCubeSkillsFaces {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.7;
  }
  
  .homeCubeSkillsFaces > img {
    width: inherit;
    height: inherit;
  }
  
  .homeCubeSkillsFace1 {
    transform: translate3d(0, 0, 100px);
  }
  .homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0, 0, 150px);
  }
  .homeCubeSkillsFace3 {
    transform: rotateY(-90deg) translate3d(0, 0, 150px);
  }
  .homeCubeSkillsFace4 {
    transform: rotateY(90deg) translate3d(0, 0, 150px);
  }
  .homeCubeSkillsFace5 {
    transform: rotateX(90deg) translate3d(0, 0, 150px);
  }
  .homeCubeSkillsFace6 {
    transform: rotateX(-90deg) translate3d(0, 0, 150px);
  }
  
  .cubeShadow {
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
  }
  